
body, html {
    height: 100vh;
    display: -ms-flexbox;
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
    font-size: 0.8rem;
    overflow: hidden;

}

a{  
    text-decoration: none;
     margin: auto;
     


}
a:hover{
    text-decoration: none;
}
.containerr {
  margin-top: 5%;
}
.img{
    background: url('./images/bg.jpg') ;
    background-size: 100%;
    height: 100%;
    opacity: 0.9;
    background-size: cover;
    
}
.stars-container {
    animation: background_color 5s infinite;
    height: 100%;
    overflow: hidden;
    padding: 0;
    transition: 10s;
}
@keyframes background_color{
    0%{
        /*#fff7022b vang*/
        background-color:#0a00a500;
    }
    10%{
        background-color:#ff31022b;
    }
    20%{
        background-color:#a56b0000;
    }
    30%{
        background-color:#fff7022b;
    }
    40%{
        background-color:#12ff022b;
    }
    50%{
        background-color:#007fa500;
    }
    60%{
        background-color:#1102ff2b;
    }
    70%{
        background-color:#ff02bd2b;
    }
    80%{
        background-color:#ff02bd2b;
    }
    90%{
        background-color:#00a56000;
    }
    100%{
        background-color:#0a00a500;
    }
}
#stars, #stars2, #stars3 {
    margin-left: -300px;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 309px 853px #FFFF00, 1697px 1383px #FFFF00, 1751px 1860px #FFFF00, 1003px 89px #FFFF00, 604px 781px #FFFF00, 1400px 924px #FFFF00, 777px 1194px #FFFF00, 91px 1421px #FFFF00, 712px 1819px #FFFF00, 982px 1308px #FFFF00, 846px 163px #FFFF00, 899px 519px #FFFF00, 356px 1089px #FFFF00, 1642px 1256px #FFFF00, 264px 1730px #FFFF00, 1026px 366px #FFFF00, 1250px 672px #FFFF00, 1998px 1749px #FFFF00, 1237px 1572px #FFFF00, 1688px 247px #FFFF00, 948px 637px #FFFF00, 149px 805px #FFFF00, 306px 696px #FFFF00, 1688px 263px #FFFF00, 649px 698px #FFFF00, 1860px 1741px #FFFF00, 1553px 384px #FFFF00, 719px 972px #FFFF00, 1346px 1702px #FFFF00, 1958px 1119px #FFFF00, 1549px 1740px #FFFF00, 1772px 1432px #FFFF00, 254px 113px #FFFF00, 837px 1876px #FFFF00, 1658px 21px #FFFF00, 413px 1283px #FFFF00, 955px 1392px #FFFF00, 1293px 678px #FFFF00, 841px 156px #FFFF00, 201px 737px #FFFF00, 988px 376px #FFFF00, 942px 439px #FFFF00, 1068px 871px #FFFF00, 1818px 598px #FFFF00, 1662px 916px #FFFF00, 349px 691px #FFFF00, 350px 1599px #FFFF00, 833px 1802px #FFFF00, 1914px 1834px #FFFF00, 1881px 745px #FFFF00, 1373px 958px #FFFF00, 509px 1848px #FFFF00, 1771px 119px #FFFF00, 818px 277px #FFFF00, 385px 1433px #FFFF00, 1495px 567px #FFFF00, 1754px 1741px #FFFF00, 1801px 1706px #FFFF00, 501px 1650px #FFFF00, 1588px 806px #FFFF00, 505px 608px #FFFF00, 1056px 776px #FFFF00, 118px 1758px #FFFF00, 1249px 1947px #FFFF00, 523px 1655px #FFFF00, 128px 369px #FFFF00, 848px 1046px #FFFF00, 1757px 1598px #FFFF00, 1192px 828px #FFFF00, 1616px 351px #FFFF00, 16px 241px #FFFF00, 601px 825px #FFFF00, 1227px 85px #FFFF00, 1173px 1444px #FFFF00, 216px 469px #FFFF00, 1715px 1370px #FFFF00, 312px 589px #FFFF00, 1678px 1699px #FFFF00, 1269px 789px #FFFF00, 1076px 1191px #FFFF00, 1067px 6px #FFFF00, 930px 42px #FFFF00, 189px 1629px #FFFF00, 1264px 1065px #FFFF00, 1234px 1493px #FFFF00, 602px 189px #FFFF00, 328px 1782px #FFFF00, 1743px 105px #FFFF00, 1980px 881px #FFFF00, 511px 1767px #FFFF00, 1121px 614px #FFFF00, 1558px 1088px #FFFF00, 384px 686px #FFFF00, 1558px 1113px #FFFF00, 1517px 1141px #FFFF00, 236px 523px #FFFF00, 173px 1068px #FFFF00, 1062px 1593px #FFFF00, 1329px 1459px #FFFF00, 865px 1686px #FFFF00, 1035px 1217px #FFFF00, 1348px 932px #FFFF00, 1339px 1944px #FFFF00, 414px 1847px #FFFF00, 1938px 1630px #FFFF00, 1424px 342px #FFFF00, 1853px 1405px #FFFF00, 1178px 1481px #FFFF00, 1261px 1234px #FFFF00, 255px 1035px #FFFF00, 1766px 1806px #FFFF00, 429px 983px #FFFF00, 59px 1133px #FFFF00, 1347px 831px #FFFF00, 1831px 1801px #FFFF00, 1007px 254px #FFFF00, 1507px 701px #FFFF00, 723px 1796px #FFFF00, 1891px 1901px #FFFF00, 735px 99px #FFFF00, 1981px 1593px #FFFF00, 743px 74px #FFFF00, 1470px 860px #FFFF00, 429px 994px #FFFF00, 687px 50px #FFFF00, 668px 368px #FFFF00, 927px 101px #FFFF00, 981px 23px #FFFF00, 853px 650px #FFFF00, 544px 305px #FFFF00, 1967px 362px #FFFF00, 947px 1254px #FFFF00, 1765px 652px #FFFF00, 1068px 491px #FFFF00, 936px 595px #FFFF00, 881px 462px #FFFF00, 1814px 63px #FFFF00, 1988px 692px #FFFF00, 1388px 916px #FFFF00, 1958px 759px #FFFF00, 1887px 652px #FFFF00, 745px 913px #FFFF00, 1640px 283px #FFFF00, 1132px 1550px #FFFF00, 1312px 229px #FFFF00, 400px 754px #FFFF00, 14px 719px #FFFF00, 426px 425px #FFFF00, 1741px 149px #FFFF00, 1051px 216px #FFFF00, 1253px 52px #FFFF00, 173px 1046px #FFFF00, 1348px 1309px #FFFF00, 1541px 516px #FFFF00, 1105px 108px #FFFF00, 65px 1604px #FFFF00, 1923px 1200px #FFFF00, 1571px 1281px #FFFF00, 93px 1425px #FFFF00, 1761px 918px #FFFF00, 525px 80px #FFFF00, 998px 1982px #FFFF00, 230px 917px #FFFF00, 1269px 1585px #FFFF00, 1769px 1806px #FFFF00, 1102px 795px #FFFF00, 169px 1459px #FFFF00, 1859px 56px #FFFF00, 948px 168px #FFFF00, 1660px 1860px #FFFF00, 96px 777px #FFFF00, 352px 1930px #FFFF00, 1158px 1926px #FFFF00, 1716px 1166px #FFFF00, 285px 399px #FFFF00, 1820px 687px #FFFF00, 954px 396px #FFFF00, 534px 358px #FFFF00, 979px 1128px #FFFF00, 1047px 1331px #FFFF00, 1756px 1918px #FFFF00, 1542px 242px #FFFF00, 1982px 1547px #FFFF00, 1456px 262px #FFFF00, 1081px 636px #FFFF00, 597px 1903px #FFFF00, 1035px 1044px #FFFF00, 765px 956px #FFFF00, 1255px 97px #FFFF00, 646px 1085px #FFFF00, 1140px 1061px #FFFF00, 270px 1476px #FFFF00, 1390px 1214px #FFFF00, 169px 795px #FFFF00, 696px 1326px #FFFF00, 1595px 1582px #FFFF00, 911px 249px #FFFF00, 1951px 1112px #FFFF00, 636px 1724px #FFFF00, 1014px 1593px #FFFF00, 1134px 378px #FFFF00, 312px 862px #FFFF00, 1980px 1550px #FFFF00, 909px 114px #FFFF00, 1193px 355px #FFFF00, 723px 1931px #FFFF00, 676px 31px #FFFF00, 1740px 964px #FFFF00, 1852px 1395px #FFFF00, 1198px 590px #FFFF00, 1291px 1625px #FFFF00, 374px 666px #FFFF00, 4px 350px #FFFF00, 1424px 413px #FFFF00, 1745px 1717px #FFFF00, 1818px 114px #FFFF00, 1888px 1546px #FFFF00, 859px 1333px #FFFF00, 258px 1532px #FFFF00, 130px 945px #FFFF00, 1321px 191px #FFFF00, 409px 410px #FFFF00, 1532px 980px #FFFF00, 1183px 147px #FFFF00, 1508px 646px #FFFF00, 1427px 816px #FFFF00, 279px 941px #FFFF00, 1075px 352px #FFFF00, 1296px 1854px #FFFF00, 469px 773px #FFFF00, 980px 1785px #FFFF00, 613px 1128px #FFFF00, 1663px 1880px #FFFF00, 999px 1635px #FFFF00, 546px 1813px #FFFF00, 131px 557px #FFFF00, 50px 869px #FFFF00, 1571px 1354px #FFFF00, 278px 345px #FFFF00, 1086px 1776px #FFFF00, 1873px 537px #FFFF00, 1128px 979px #FFFF00, 320px 278px #FFFF00, 1828px 416px #FFFF00, 181px 250px #FFFF00, 678px 1569px #FFFF00, 578px 1247px #FFFF00, 1624px 1629px #FFFF00, 1323px 279px #FFFF00, 337px 1495px #FFFF00, 555px 919px #FFFF00, 878px 371px #FFFF00, 103px 1356px #FFFF00, 1162px 1061px #FFFF00, 1105px 451px #FFFF00, 1763px 1784px #FFFF00, 427px 800px #FFFF00, 587px 643px #FFFF00, 641px 1222px #FFFF00, 262px 254px #FFFF00, 1066px 899px #FFFF00, 1921px 302px #FFFF00, 796px 1460px #FFFF00, 615px 1670px #FFFF00, 1901px 148px #FFFF00, 509px 1541px #FFFF00, 1724px 914px #FFFF00, 855px 1470px #FFFF00, 1324px 1376px #FFFF00, 632px 520px #FFFF00, 809px 1842px #FFFF00, 1177px 1647px #FFFF00, 1371px 199px #FFFF00, 366px 421px #FFFF00, 1502px 1037px #FFFF00, 1971px 1657px #FFFF00, 131px 890px #FFFF00, 1231px 786px #FFFF00, 1759px 1126px #FFFF00, 604px 311px #FFFF00, 575px 1748px #FFFF00, 42px 1668px #FFFF00, 107px 417px #FFFF00, 1885px 442px #FFFF00, 1056px 719px #FFFF00, 154px 908px #FFFF00, 136px 284px #FFFF00, 330px 1691px #FFFF00, 568px 139px #FFFF00, 762px 774px #FFFF00, 1509px 888px #FFFF00, 316px 1610px #FFFF00, 1911px 1408px #FFFF00, 1186px 903px #FFFF00, 827px 296px #FFFF00, 1025px 791px #FFFF00, 391px 1772px #FFFF00, 153px 496px #FFFF00, 1390px 1266px #FFFF00, 561px 1870px #FFFF00, 546px 1781px #FFFF00, 1477px 1492px #FFFF00, 1461px 610px #FFFF00, 101px 877px #FFFF00, 474px 315px #FFFF00, 1507px 1822px #FFFF00, 580px 125px #FFFF00, 1379px 1271px #FFFF00, 1595px 105px #FFFF00, 833px 1161px #FFFF00, 1907px 1797px #FFFF00, 600px 77px #FFFF00, 1518px 1037px #FFFF00, 564px 382px #FFFF00, 1729px 213px #FFFF00, 187px 562px #FFFF00, 1563px 1794px #FFFF00, 1668px 630px #FFFF00, 1873px 1750px #FFFF00, 711px 948px #FFFF00, 398px 1434px #FFFF00, 1708px 856px #FFFF00, 1236px 1240px #FFFF00, 616px 1284px #FFFF00, 1108px 1829px #FFFF00, 679px 1824px #FFFF00, 1116px 635px #FFFF00, 969px 1511px #FFFF00, 1872px 1948px #FFFF00, 713px 1445px #FFFF00, 1939px 1890px #FFFF00, 1233px 976px #FFFF00, 1574px 177px #FFFF00, 1754px 1434px #FFFF00, 1273px 785px #FFFF00, 599px 1152px #FFFF00, 982px 644px #FFFF00, 1570px 1997px #FFFF00, 409px 584px #FFFF00, 416px 1881px #FFFF00, 547px 730px #FFFF00, 68px 1396px #FFFF00, 543px 842px #FFFF00, 731px 441px #FFFF00, 1763px 530px #FFFF00, 1059px 1031px #FFFF00, 702px 278px #FFFF00, 336px 1230px #FFFF00, 313px 550px #FFFF00, 537px 1670px #FFFF00, 1889px 1088px #FFFF00, 565px 785px #FFFF00, 1402px 1682px #FFFF00, 937px 1061px #FFFF00, 1960px 1762px #FFFF00, 536px 1043px #FFFF00, 546px 494px #FFFF00, 974px 1178px #FFFF00, 1831px 1045px #FFFF00, 1664px 458px #FFFF00, 903px 1101px #FFFF00, 1436px 1675px #FFFF00, 1917px 1753px #FFFF00, 304px 718px #FFFF00, 541px 1758px #FFFF00, 715px 112px #FFFF00, 1724px 133px #FFFF00, 229px 207px #FFFF00, 876px 970px #FFFF00, 159px 1155px #FFFF00, 1219px 605px #FFFF00, 455px 877px #FFFF00, 191px 551px #FFFF00, 473px 434px #FFFF00, 1185px 1316px #FFFF00, 424px 963px #FFFF00, 45px 30px #FFFF00, 1404px 796px #FFFF00, 686px 519px #FFFF00, 759px 1462px #FFFF00, 1975px 1831px #FFFF00, 1801px 601px #FFFF00, 1346px 313px #FFFF00, 486px 561px #FFFF00, 668px 34px #FFFF00, 514px 826px #FFFF00, 1437px 383px #FFFF00, 1517px 1662px #FFFF00, 1267px 1843px #FFFF00, 427px 1009px #FFFF00, 327px 731px #FFFF00, 533px 1001px #FFFF00, 1021px 1342px #FFFF00, 1811px 1615px #FFFF00, 179px 3px #FFFF00, 103px 952px #FFFF00, 1555px 1969px #FFFF00, 485px 1924px #FFFF00, 635px 1396px #FFFF00, 313px 1169px #FFFF00, 1962px 1979px #FFFF00, 104px 1197px #FFFF00, 1952px 1259px #FFFF00, 501px 1679px #FFFF00, 1041px 1317px #FFFF00, 1883px 218px #FFFF00, 45px 1198px #FFFF00, 439px 1252px #FFFF00, 1841px 182px #FFFF00, 696px 658px #FFFF00, 1531px 487px #FFFF00, 1253px 90px #FFFF00, 109px 492px #FFFF00, 682px 777px #FFFF00, 1934px 1016px #FFFF00, 1853px 1488px #FFFF00, 879px 1102px #FFFF00, 446px 75px #FFFF00, 993px 702px #FFFF00, 1632px 755px #FFFF00, 1461px 636px #FFFF00, 1920px 16px #FFFF00, 1742px 1453px #FFFF00, 1091px 592px #FFFF00, 958px 798px #FFFF00, 1020px 652px #FFFF00, 1898px 116px #FFFF00, 579px 184px #FFFF00, 1292px 14px #FFFF00, 304px 1732px #FFFF00, 553px 1134px #FFFF00, 984px 508px #FFFF00, 110px 997px #FFFF00, 1685px 1687px #FFFF00, 697px 1390px #FFFF00, 1080px 950px #FFFF00, 1111px 1670px #FFFF00, 167px 1148px #FFFF00, 855px 305px #FFFF00, 813px 178px #FFFF00, 1189px 961px #FFFF00, 611px 1966px #FFFF00, 1469px 1892px #FFFF00, 622px 552px #FFFF00, 199px 1303px #FFFF00, 114px 756px #FFFF00, 808px 863px #FFFF00, 1746px 1781px #FFFF00, 742px 1184px #FFFF00, 1453px 1392px #FFFF00, 350px 1078px #FFFF00, 98px 1416px #FFFF00, 1159px 1718px #FFFF00, 1457px 1145px #FFFF00, 198px 170px #FFFF00, 1066px 1608px #FFFF00, 1867px 923px #FFFF00, 1058px 823px #FFFF00, 1578px 994px #FFFF00, 1996px 1866px #FFFF00, 627px 78px #FFFF00, 1569px 1883px #FFFF00, 494px 393px #FFFF00, 1617px 1744px #FFFF00, 249px 1954px #FFFF00, 1060px 87px #FFFF00, 922px 1035px #FFFF00, 1224px 103px #FFFF00, 1769px 908px #FFFF00, 1988px 70px #FFFF00, 156px 469px #FFFF00, 249px 553px #FFFF00, 1342px 1015px #FFFF00, 919px 877px #FFFF00, 429px 1720px #FFFF00, 33px 591px #FFFF00, 472px 1813px #FFFF00, 1739px 1561px #FFFF00, 1780px 804px #FFFF00, 1349px 996px #FFFF00, 1613px 1503px #FFFF00, 1091px 1550px #FFFF00, 109px 31px #FFFF00, 1985px 38px #FFFF00, 786px 1570px #FFFF00, 18px 952px #FFFF00, 505px 758px #FFFF00, 992px 797px #FFFF00, 1799px 1907px #FFFF00, 408px 945px #FFFF00, 45px 1374px #FFFF00, 753px 1670px #FFFF00, 911px 675px #FFFF00, 1969px 1356px #FFFF00, 1881px 1267px #FFFF00, 1290px 1997px #FFFF00, 1003px 577px #FFFF00, 1489px 209px #FFFF00, 708px 633px #FFFF00, 1454px 572px #FFFF00, 292px 494px #FFFF00, 1430px 1911px #FFFF00, 1353px 813px #FFFF00, 1542px 610px #FFFF00, 665px 346px #FFFF00, 87px 1872px #FFFF00, 207px 371px #FFFF00, 842px 1228px #FFFF00, 1390px 1239px #FFFF00, 76px 996px #FFFF00, 1648px 1173px #FFFF00, 699px 1149px #FFFF00, 83px 1823px #FFFF00, 786px 779px #FFFF00, 455px 712px #FFFF00, 548px 445px #FFFF00, 535px 818px #FFFF00, 694px 689px #FFFF00, 758px 1443px #FFFF00, 115px 1747px #FFFF00, 626px 190px #FFFF00, 1096px 1312px #FFFF00, 910px 1493px #FFFF00, 1529px 1294px #FFFF00, 565px 1053px #FFFF00, 450px 51px #FFFF00, 887px 1102px #FFFF00, 1423px 1759px #FFFF00, 832px 665px #FFFF00, 530px 155px #FFFF00, 1601px 1334px #FFFF00, 1163px 902px #FFFF00, 1832px 804px #FFFF00, 400px 1181px #FFFF00, 1442px 1530px #FFFF00, 823px 1537px #FFFF00, 849px 1176px #FFFF00, 1126px 226px #FFFF00, 1461px 1919px #FFFF00, 145px 655px #FFFF00, 1464px 198px #FFFF00, 456px 1001px #FFFF00, 781px 1107px #FFFF00, 996px 1636px #FFFF00, 924px 1094px #FFFF00, 446px 1233px #FFFF00, 1640px 1347px #FFFF00, 1758px 1877px #FFFF00, 285px 1818px #FFFF00, 543px 883px #FFFF00, 526px 1457px #FFFF00, 861px 864px #FFFF00, 439px 47px #FFFF00, 1691px 407px #FFFF00, 148px 61px #FFFF00, 809px 749px #FFFF00, 1211px 358px #FFFF00, 1056px 1323px #FFFF00, 1943px 869px #FFFF00, 924px 579px #FFFF00, 304px 57px #FFFF00, 379px 1906px #FFFF00, 806px 1224px #FFFF00, 1144px 349px #FFFF00, 1441px 1716px #FFFF00, 240px 1066px #FFFF00, 1706px 733px #FFFF00, 1724px 976px #FFFF00, 1871px 96px #FFFF00, 1230px 113px #FFFF00, 817px 560px #FFFF00, 1347px 75px #FFFF00, 1937px 1597px #FFFF00, 155px 1313px #FFFF00, 378px 1462px #FFFF00, 1492px 1535px #FFFF00, 1479px 275px #FFFF00, 1378px 1959px #FFFF00, 1440px 592px #FFFF00, 1681px 1742px #FFFF00, 1288px 340px #FFFF00, 486px 1859px #FFFF00, 955px 1366px #FFFF00, 1716px 601px #FFFF00, 404px 317px #FFFF00, 299px 1719px #FFFF00, 795px 1533px #FFFF00, 609px 681px #FFFF00, 1232px 1635px #FFFF00, 654px 215px #FFFF00, 672px 1739px #FFFF00, 1624px 1331px #FFFF00, 13px 1125px #FFFF00, 1263px 1092px #FFFF00, 1867px 1548px #FFFF00, 558px 325px #FFFF00, 517px 1227px #FFFF00, 1626px 726px #FFFF00, 1133px 348px #FFFF00, 252px 1324px #FFFF00, 1924px 1729px #FFFF00, 1782px 1374px #FFFF00, 482px 627px #FFFF00, 943px 976px #FFFF00, 1377px 396px #FFFF00, 476px 1062px #FFFF00, 1467px 1993px #FFFF00, 1751px 113px #FFFF00, 282px 346px #FFFF00, 1889px 1293px #FFFF00, 268px 187px #FFFF00, 406px 1200px #FFFF00, 1788px 1627px #FFFF00, 337px 476px #FFFF00, 1070px 1172px #FFFF00, 1428px 285px #FFFF00, 296px 1233px #FFFF00, 882px 367px #FFFF00, 679px 893px #FFFF00, 1967px 1880px #FFFF00, 1244px 1317px #FFFF00, 20px 986px #FFFF00, 208px 1135px #FFFF00, 1577px 191px #FFFF00, 1253px 859px #FFFF00, 567px 1423px #FFFF00, 1274px 296px #FFFF00, 125px 1651px #FFFF00, 622px 1833px #FFFF00, 1323px 1535px #FFFF00, 1606px 1160px #FFFF00, 1272px 1429px #FFFF00, 1647px 1307px #FFFF00, 1601px 1105px #FFFF00, 650px 1644px #FFFF00, 680px 1797px #FFFF00, 1109px 1924px #FFFF00, 1447px 1930px #FFFF00, 1568px 321px #FFFF00, 1330px 580px #FFFF00, 1845px 558px #FFFF00, 1558px 1286px #FFFF00, 585px 99px #FFFF00, 839px 1034px #FFFF00, 754px 1654px #FFFF00, 1500px 232px #FFFF00, 632px 1767px #FFFF00, 1991px 964px #FFFF00, 611px 12px #FFFF00, 1658px 657px #FFFF00, 1162px 305px #FFFF00, 1154px 1462px #FFFF00, 396px 461px #FFFF00, 1152px 943px #FFFF00, 1449px 1820px #FFFF00, 1990px 407px #FFFF00, 1420px 561px #FFFF00, 903px 624px #FFFF00, 1454px 69px #FFFF00, 1150px 744px #FFFF00, 883px 21px #FFFF00, 783px 132px #FFFF00, 512px 288px #FFFF00, 596px 88px #FFFF00, 349px 816px #FFFF00, 591px 720px #FFFF00, 831px 752px #FFFF00, 1039px 785px #FFFF00, 149px 1795px #FFFF00, 1435px 981px #FFFF00, 646px 554px #FFFF00, 786px 1988px #FFFF00, 870px 727px #FFFF00, 1779px 514px #FFFF00, 456px 822px #FFFF00, 1302px 1697px #FFFF00, 1443px 29px #FFFF00, 566px 1634px #FFFF00, 139px 1116px #FFFF00, 113px 635px #FFFF00, 1648px 1391px #FFFF00, 1622px 304px #FFFF00, 578px 1222px #FFFF00, 581px 1330px #FFFF00, 1253px 1974px #FFFF00, 1467px 369px #FFFF00, 1066px 631px #FFFF00, 128px 261px #FFFF00, 313px 289px #FFFF00, 691px 1265px #FFFF00, 1458px 217px #FFFF00, 1624px 331px #FFFF00, 624px 1688px #FFFF00, 129px 167px #FFFF00, 1935px 139px #FFFF00, 156px 368px #FFFF00, 1818px 631px #FFFF00, 1594px 1449px #FFFF00, 963px 857px #FFFF00, 1767px 86px #FFFF00;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 309px 853px #FFFF00, 1697px 1383px #FFFF00, 1751px 1860px #FFFF00, 1003px 89px #FFFF00, 604px 781px #FFFF00, 1400px 924px #FFFF00, 777px 1194px #FFFF00, 91px 1421px #FFFF00, 712px 1819px #FFFF00, 982px 1308px #FFFF00, 846px 163px #FFFF00, 899px 519px #FFFF00, 356px 1089px #FFFF00, 1642px 1256px #FFFF00, 264px 1730px #FFFF00, 1026px 366px #FFFF00, 1250px 672px #FFFF00, 1998px 1749px #FFFF00, 1237px 1572px #FFFF00, 1688px 247px #FFFF00, 948px 637px #FFFF00, 149px 805px #FFFF00, 306px 696px #FFFF00, 1688px 263px #FFFF00, 649px 698px #FFFF00, 1860px 1741px #FFFF00, 1553px 384px #FFFF00, 719px 972px #FFFF00, 1346px 1702px #FFFF00, 1958px 1119px #FFFF00, 1549px 1740px #FFFF00, 1772px 1432px #FFFF00, 254px 113px #FFFF00, 837px 1876px #FFFF00, 1658px 21px #FFFF00, 413px 1283px #FFFF00, 955px 1392px #FFFF00, 1293px 678px #FFFF00, 841px 156px #FFFF00, 201px 737px #FFFF00, 988px 376px #FFFF00, 942px 439px #FFFF00, 1068px 871px #FFFF00, 1818px 598px #FFFF00, 1662px 916px #FFFF00, 349px 691px #FFFF00, 350px 1599px #FFFF00, 833px 1802px #FFFF00, 1914px 1834px #FFFF00, 1881px 745px #FFFF00, 1373px 958px #FFFF00, 509px 1848px #FFFF00, 1771px 119px #FFFF00, 818px 277px #FFFF00, 385px 1433px #FFFF00, 1495px 567px #FFFF00, 1754px 1741px #FFFF00, 1801px 1706px #FFFF00, 501px 1650px #FFFF00, 1588px 806px #FFFF00, 505px 608px #FFFF00, 1056px 776px #FFFF00, 118px 1758px #FFFF00, 1249px 1947px #FFFF00, 523px 1655px #FFFF00, 128px 369px #FFFF00, 848px 1046px #FFFF00, 1757px 1598px #FFFF00, 1192px 828px #FFFF00, 1616px 351px #FFFF00, 16px 241px #FFFF00, 601px 825px #FFFF00, 1227px 85px #FFFF00, 1173px 1444px #FFFF00, 216px 469px #FFFF00, 1715px 1370px #FFFF00, 312px 589px #FFFF00, 1678px 1699px #FFFF00, 1269px 789px #FFFF00, 1076px 1191px #FFFF00, 1067px 6px #FFFF00, 930px 42px #FFFF00, 189px 1629px #FFFF00, 1264px 1065px #FFFF00, 1234px 1493px #FFFF00, 602px 189px #FFFF00, 328px 1782px #FFFF00, 1743px 105px #FFFF00, 1980px 881px #FFFF00, 511px 1767px #FFFF00, 1121px 614px #FFFF00, 1558px 1088px #FFFF00, 384px 686px #FFFF00, 1558px 1113px #FFFF00, 1517px 1141px #FFFF00, 236px 523px #FFFF00, 173px 1068px #FFFF00, 1062px 1593px #FFFF00, 1329px 1459px #FFFF00, 865px 1686px #FFFF00, 1035px 1217px #FFFF00, 1348px 932px #FFFF00, 1339px 1944px #FFFF00, 414px 1847px #FFFF00, 1938px 1630px #FFFF00, 1424px 342px #FFFF00, 1853px 1405px #FFFF00, 1178px 1481px #FFFF00, 1261px 1234px #FFFF00, 255px 1035px #FFFF00, 1766px 1806px #FFFF00, 429px 983px #FFFF00, 59px 1133px #FFFF00, 1347px 831px #FFFF00, 1831px 1801px #FFFF00, 1007px 254px #FFFF00, 1507px 701px #FFFF00, 723px 1796px #FFFF00, 1891px 1901px #FFFF00, 735px 99px #FFFF00, 1981px 1593px #FFFF00, 743px 74px #FFFF00, 1470px 860px #FFFF00, 429px 994px #FFFF00, 687px 50px #FFFF00, 668px 368px #FFFF00, 927px 101px #FFFF00, 981px 23px #FFFF00, 853px 650px #FFFF00, 544px 305px #FFFF00, 1967px 362px #FFFF00, 947px 1254px #FFFF00, 1765px 652px #FFFF00, 1068px 491px #FFFF00, 936px 595px #FFFF00, 881px 462px #FFFF00, 1814px 63px #FFFF00, 1988px 692px #FFFF00, 1388px 916px #FFFF00, 1958px 759px #FFFF00, 1887px 652px #FFFF00, 745px 913px #FFFF00, 1640px 283px #FFFF00, 1132px 1550px #FFFF00, 1312px 229px #FFFF00, 400px 754px #FFFF00, 14px 719px #FFFF00, 426px 425px #FFFF00, 1741px 149px #FFFF00, 1051px 216px #FFFF00, 1253px 52px #FFFF00, 173px 1046px #FFFF00, 1348px 1309px #FFFF00, 1541px 516px #FFFF00, 1105px 108px #FFFF00, 65px 1604px #FFFF00, 1923px 1200px #FFFF00, 1571px 1281px #FFFF00, 93px 1425px #FFFF00, 1761px 918px #FFFF00, 525px 80px #FFFF00, 998px 1982px #FFFF00, 230px 917px #FFFF00, 1269px 1585px #FFFF00, 1769px 1806px #FFFF00, 1102px 795px #FFFF00, 169px 1459px #FFFF00, 1859px 56px #FFFF00, 948px 168px #FFFF00, 1660px 1860px #FFFF00, 96px 777px #FFFF00, 352px 1930px #FFFF00, 1158px 1926px #FFFF00, 1716px 1166px #FFFF00, 285px 399px #FFFF00, 1820px 687px #FFFF00, 954px 396px #FFFF00, 534px 358px #FFFF00, 979px 1128px #FFFF00, 1047px 1331px #FFFF00, 1756px 1918px #FFFF00, 1542px 242px #FFFF00, 1982px 1547px #FFFF00, 1456px 262px #FFFF00, 1081px 636px #FFFF00, 597px 1903px #FFFF00, 1035px 1044px #FFFF00, 765px 956px #FFFF00, 1255px 97px #FFFF00, 646px 1085px #FFFF00, 1140px 1061px #FFFF00, 270px 1476px #FFFF00, 1390px 1214px #FFFF00, 169px 795px #FFFF00, 696px 1326px #FFFF00, 1595px 1582px #FFFF00, 911px 249px #FFFF00, 1951px 1112px #FFFF00, 636px 1724px #FFFF00, 1014px 1593px #FFFF00, 1134px 378px #FFFF00, 312px 862px #FFFF00, 1980px 1550px #FFFF00, 909px 114px #FFFF00, 1193px 355px #FFFF00, 723px 1931px #FFFF00, 676px 31px #FFFF00, 1740px 964px #FFFF00, 1852px 1395px #FFFF00, 1198px 590px #FFFF00, 1291px 1625px #FFFF00, 374px 666px #FFFF00, 4px 350px #FFFF00, 1424px 413px #FFFF00, 1745px 1717px #FFFF00, 1818px 114px #FFFF00, 1888px 1546px #FFFF00, 859px 1333px #FFFF00, 258px 1532px #FFFF00, 130px 945px #FFFF00, 1321px 191px #FFFF00, 409px 410px #FFFF00, 1532px 980px #FFFF00, 1183px 147px #FFFF00, 1508px 646px #FFFF00, 1427px 816px #FFFF00, 279px 941px #FFFF00, 1075px 352px #FFFF00, 1296px 1854px #FFFF00, 469px 773px #FFFF00, 980px 1785px #FFFF00, 613px 1128px #FFFF00, 1663px 1880px #FFFF00, 999px 1635px #FFFF00, 546px 1813px #FFFF00, 131px 557px #FFFF00, 50px 869px #FFFF00, 1571px 1354px #FFFF00, 278px 345px #FFFF00, 1086px 1776px #FFFF00, 1873px 537px #FFFF00, 1128px 979px #FFFF00, 320px 278px #FFFF00, 1828px 416px #FFFF00, 181px 250px #FFFF00, 678px 1569px #FFFF00, 578px 1247px #FFFF00, 1624px 1629px #FFFF00, 1323px 279px #FFFF00, 337px 1495px #FFFF00, 555px 919px #FFFF00, 878px 371px #FFFF00, 103px 1356px #FFFF00, 1162px 1061px #FFFF00, 1105px 451px #FFFF00, 1763px 1784px #FFFF00, 427px 800px #FFFF00, 587px 643px #FFFF00, 641px 1222px #FFFF00, 262px 254px #FFFF00, 1066px 899px #FFFF00, 1921px 302px #FFFF00, 796px 1460px #FFFF00, 615px 1670px #FFFF00, 1901px 148px #FFFF00, 509px 1541px #FFFF00, 1724px 914px #FFFF00, 855px 1470px #FFFF00, 1324px 1376px #FFFF00, 632px 520px #FFFF00, 809px 1842px #FFFF00, 1177px 1647px #FFFF00, 1371px 199px #FFFF00, 366px 421px #FFFF00, 1502px 1037px #FFFF00, 1971px 1657px #FFFF00, 131px 890px #FFFF00, 1231px 786px #FFFF00, 1759px 1126px #FFFF00, 604px 311px #FFFF00, 575px 1748px #FFFF00, 42px 1668px #FFFF00, 107px 417px #FFFF00, 1885px 442px #FFFF00, 1056px 719px #FFFF00, 154px 908px #FFFF00, 136px 284px #FFFF00, 330px 1691px #FFFF00, 568px 139px #FFFF00, 762px 774px #FFFF00, 1509px 888px #FFFF00, 316px 1610px #FFFF00, 1911px 1408px #FFFF00, 1186px 903px #FFFF00, 827px 296px #FFFF00, 1025px 791px #FFFF00, 391px 1772px #FFFF00, 153px 496px #FFFF00, 1390px 1266px #FFFF00, 561px 1870px #FFFF00, 546px 1781px #FFFF00, 1477px 1492px #FFFF00, 1461px 610px #FFFF00, 101px 877px #FFFF00, 474px 315px #FFFF00, 1507px 1822px #FFFF00, 580px 125px #FFFF00, 1379px 1271px #FFFF00, 1595px 105px #FFFF00, 833px 1161px #FFFF00, 1907px 1797px #FFFF00, 600px 77px #FFFF00, 1518px 1037px #FFFF00, 564px 382px #FFFF00, 1729px 213px #FFFF00, 187px 562px #FFFF00, 1563px 1794px #FFFF00, 1668px 630px #FFFF00, 1873px 1750px #FFFF00, 711px 948px #FFFF00, 398px 1434px #FFFF00, 1708px 856px #FFFF00, 1236px 1240px #FFFF00, 616px 1284px #FFFF00, 1108px 1829px #FFFF00, 679px 1824px #FFFF00, 1116px 635px #FFFF00, 969px 1511px #FFFF00, 1872px 1948px #FFFF00, 713px 1445px #FFFF00, 1939px 1890px #FFFF00, 1233px 976px #FFFF00, 1574px 177px #FFFF00, 1754px 1434px #FFFF00, 1273px 785px #FFFF00, 599px 1152px #FFFF00, 982px 644px #FFFF00, 1570px 1997px #FFFF00, 409px 584px #FFFF00, 416px 1881px #FFFF00, 547px 730px #FFFF00, 68px 1396px #FFFF00, 543px 842px #FFFF00, 731px 441px #FFFF00, 1763px 530px #FFFF00, 1059px 1031px #FFFF00, 702px 278px #FFFF00, 336px 1230px #FFFF00, 313px 550px #FFFF00, 537px 1670px #FFFF00, 1889px 1088px #FFFF00, 565px 785px #FFFF00, 1402px 1682px #FFFF00, 937px 1061px #FFFF00, 1960px 1762px #FFFF00, 536px 1043px #FFFF00, 546px 494px #FFFF00, 974px 1178px #FFFF00, 1831px 1045px #FFFF00, 1664px 458px #FFFF00, 903px 1101px #FFFF00, 1436px 1675px #FFFF00, 1917px 1753px #FFFF00, 304px 718px #FFFF00, 541px 1758px #FFFF00, 715px 112px #FFFF00, 1724px 133px #FFFF00, 229px 207px #FFFF00, 876px 970px #FFFF00, 159px 1155px #FFFF00, 1219px 605px #FFFF00, 455px 877px #FFFF00, 191px 551px #FFFF00, 473px 434px #FFFF00, 1185px 1316px #FFFF00, 424px 963px #FFFF00, 45px 30px #FFFF00, 1404px 796px #FFFF00, 686px 519px #FFFF00, 759px 1462px #FFFF00, 1975px 1831px #FFFF00, 1801px 601px #FFFF00, 1346px 313px #FFFF00, 486px 561px #FFFF00, 668px 34px #FFFF00, 514px 826px #FFFF00, 1437px 383px #FFFF00, 1517px 1662px #FFFF00, 1267px 1843px #FFFF00, 427px 1009px #FFFF00, 327px 731px #FFFF00, 533px 1001px #FFFF00, 1021px 1342px #FFFF00, 1811px 1615px #FFFF00, 179px 3px #FFFF00, 103px 952px #FFFF00, 1555px 1969px #FFFF00, 485px 1924px #FFFF00, 635px 1396px #FFFF00, 313px 1169px #FFFF00, 1962px 1979px #FFFF00, 104px 1197px #FFFF00, 1952px 1259px #FFFF00, 501px 1679px #FFFF00, 1041px 1317px #FFFF00, 1883px 218px #FFFF00, 45px 1198px #FFFF00, 439px 1252px #FFFF00, 1841px 182px #FFFF00, 696px 658px #FFFF00, 1531px 487px #FFFF00, 1253px 90px #FFFF00, 109px 492px #FFFF00, 682px 777px #FFFF00, 1934px 1016px #FFFF00, 1853px 1488px #FFFF00, 879px 1102px #FFFF00, 446px 75px #FFFF00, 993px 702px #FFFF00, 1632px 755px #FFFF00, 1461px 636px #FFFF00, 1920px 16px #FFFF00, 1742px 1453px #FFFF00, 1091px 592px #FFFF00, 958px 798px #FFFF00, 1020px 652px #FFFF00, 1898px 116px #FFFF00, 579px 184px #FFFF00, 1292px 14px #FFFF00, 304px 1732px #FFFF00, 553px 1134px #FFFF00, 984px 508px #FFFF00, 110px 997px #FFFF00, 1685px 1687px #FFFF00, 697px 1390px #FFFF00, 1080px 950px #FFFF00, 1111px 1670px #FFFF00, 167px 1148px #FFFF00, 855px 305px #FFFF00, 813px 178px #FFFF00, 1189px 961px #FFFF00, 611px 1966px #FFFF00, 1469px 1892px #FFFF00, 622px 552px #FFFF00, 199px 1303px #FFFF00, 114px 756px #FFFF00, 808px 863px #FFFF00, 1746px 1781px #FFFF00, 742px 1184px #FFFF00, 1453px 1392px #FFFF00, 350px 1078px #FFFF00, 98px 1416px #FFFF00, 1159px 1718px #FFFF00, 1457px 1145px #FFFF00, 198px 170px #FFFF00, 1066px 1608px #FFFF00, 1867px 923px #FFFF00, 1058px 823px #FFFF00, 1578px 994px #FFFF00, 1996px 1866px #FFFF00, 627px 78px #FFFF00, 1569px 1883px #FFFF00, 494px 393px #FFFF00, 1617px 1744px #FFFF00, 249px 1954px #FFFF00, 1060px 87px #FFFF00, 922px 1035px #FFFF00, 1224px 103px #FFFF00, 1769px 908px #FFFF00, 1988px 70px #FFFF00, 156px 469px #FFFF00, 249px 553px #FFFF00, 1342px 1015px #FFFF00, 919px 877px #FFFF00, 429px 1720px #FFFF00, 33px 591px #FFFF00, 472px 1813px #FFFF00, 1739px 1561px #FFFF00, 1780px 804px #FFFF00, 1349px 996px #FFFF00, 1613px 1503px #FFFF00, 1091px 1550px #FFFF00, 109px 31px #FFFF00, 1985px 38px #FFFF00, 786px 1570px #FFFF00, 18px 952px #FFFF00, 505px 758px #FFFF00, 992px 797px #FFFF00, 1799px 1907px #FFFF00, 408px 945px #FFFF00, 45px 1374px #FFFF00, 753px 1670px #FFFF00, 911px 675px #FFFF00, 1969px 1356px #FFFF00, 1881px 1267px #FFFF00, 1290px 1997px #FFFF00, 1003px 577px #FFFF00, 1489px 209px #FFFF00, 708px 633px #FFFF00, 1454px 572px #FFFF00, 292px 494px #FFFF00, 1430px 1911px #FFFF00, 1353px 813px #FFFF00, 1542px 610px #FFFF00, 665px 346px #FFFF00, 87px 1872px #FFFF00, 207px 371px #FFFF00, 842px 1228px #FFFF00, 1390px 1239px #FFFF00, 76px 996px #FFFF00, 1648px 1173px #FFFF00, 699px 1149px #FFFF00, 83px 1823px #FFFF00, 786px 779px #FFFF00, 455px 712px #FFFF00, 548px 445px #FFFF00, 535px 818px #FFFF00, 694px 689px #FFFF00, 758px 1443px #FFFF00, 115px 1747px #FFFF00, 626px 190px #FFFF00, 1096px 1312px #FFFF00, 910px 1493px #FFFF00, 1529px 1294px #FFFF00, 565px 1053px #FFFF00, 450px 51px #FFFF00, 887px 1102px #FFFF00, 1423px 1759px #FFFF00, 832px 665px #FFFF00, 530px 155px #FFFF00, 1601px 1334px #FFFF00, 1163px 902px #FFFF00, 1832px 804px #FFFF00, 400px 1181px #FFFF00, 1442px 1530px #FFFF00, 823px 1537px #FFFF00, 849px 1176px #FFFF00, 1126px 226px #FFFF00, 1461px 1919px #FFFF00, 145px 655px #FFFF00, 1464px 198px #FFFF00, 456px 1001px #FFFF00, 781px 1107px #FFFF00, 996px 1636px #FFFF00, 924px 1094px #FFFF00, 446px 1233px #FFFF00, 1640px 1347px #FFFF00, 1758px 1877px #FFFF00, 285px 1818px #FFFF00, 543px 883px #FFFF00, 526px 1457px #FFFF00, 861px 864px #FFFF00, 439px 47px #FFFF00, 1691px 407px #FFFF00, 148px 61px #FFFF00, 809px 749px #FFFF00, 1211px 358px #FFFF00, 1056px 1323px #FFFF00, 1943px 869px #FFFF00, 924px 579px #FFFF00, 304px 57px #FFFF00, 379px 1906px #FFFF00, 806px 1224px #FFFF00, 1144px 349px #FFFF00, 1441px 1716px #FFFF00, 240px 1066px #FFFF00, 1706px 733px #FFFF00, 1724px 976px #FFFF00, 1871px 96px #FFFF00, 1230px 113px #FFFF00, 817px 560px #FFFF00, 1347px 75px #FFFF00, 1937px 1597px #FFFF00, 155px 1313px #FFFF00, 378px 1462px #FFFF00, 1492px 1535px #FFFF00, 1479px 275px #FFFF00, 1378px 1959px #FFFF00, 1440px 592px #FFFF00, 1681px 1742px #FFFF00, 1288px 340px #FFFF00, 486px 1859px #FFFF00, 955px 1366px #FFFF00, 1716px 601px #FFFF00, 404px 317px #FFFF00, 299px 1719px #FFFF00, 795px 1533px #FFFF00, 609px 681px #FFFF00, 1232px 1635px #FFFF00, 654px 215px #FFFF00, 672px 1739px #FFFF00, 1624px 1331px #FFFF00, 13px 1125px #FFFF00, 1263px 1092px #FFFF00, 1867px 1548px #FFFF00, 558px 325px #FFFF00, 517px 1227px #FFFF00, 1626px 726px #FFFF00, 1133px 348px #FFFF00, 252px 1324px #FFFF00, 1924px 1729px #FFFF00, 1782px 1374px #FFFF00, 482px 627px #FFFF00, 943px 976px #FFFF00, 1377px 396px #FFFF00, 476px 1062px #FFFF00, 1467px 1993px #FFFF00, 1751px 113px #FFFF00, 282px 346px #FFFF00, 1889px 1293px #FFFF00, 268px 187px #FFFF00, 406px 1200px #FFFF00, 1788px 1627px #FFFF00, 337px 476px #FFFF00, 1070px 1172px #FFFF00, 1428px 285px #FFFF00, 296px 1233px #FFFF00, 882px 367px #FFFF00, 679px 893px #FFFF00, 1967px 1880px #FFFF00, 1244px 1317px #FFFF00, 20px 986px #FFFF00, 208px 1135px #FFFF00, 1577px 191px #FFFF00, 1253px 859px #FFFF00, 567px 1423px #FFFF00, 1274px 296px #FFFF00, 125px 1651px #FFFF00, 622px 1833px #FFFF00, 1323px 1535px #FFFF00, 1606px 1160px #FFFF00, 1272px 1429px #FFFF00, 1647px 1307px #FFFF00, 1601px 1105px #FFFF00, 650px 1644px #FFFF00, 680px 1797px #FFFF00, 1109px 1924px #FFFF00, 1447px 1930px #FFFF00, 1568px 321px #FFFF00, 1330px 580px #FFFF00, 1845px 558px #FFFF00, 1558px 1286px #FFFF00, 585px 99px #FFFF00, 839px 1034px #FFFF00, 754px 1654px #FFFF00, 1500px 232px #FFFF00, 632px 1767px #FFFF00, 1991px 964px #FFFF00, 611px 12px #FFFF00, 1658px 657px #FFFF00, 1162px 305px #FFFF00, 1154px 1462px #FFFF00, 396px 461px #FFFF00, 1152px 943px #FFFF00, 1449px 1820px #FFFF00, 1990px 407px #FFFF00, 1420px 561px #FFFF00, 903px 624px #FFFF00, 1454px 69px #FFFF00, 1150px 744px #FFFF00, 883px 21px #FFFF00, 783px 132px #FFFF00, 512px 288px #FFFF00, 596px 88px #FFFF00, 349px 816px #FFFF00, 591px 720px #FFFF00, 831px 752px #FFFF00, 1039px 785px #FFFF00, 149px 1795px #FFFF00, 1435px 981px #FFFF00, 646px 554px #FFFF00, 786px 1988px #FFFF00, 870px 727px #FFFF00, 1779px 514px #FFFF00, 456px 822px #FFFF00, 1302px 1697px #FFFF00, 1443px 29px #FFFF00, 566px 1634px #FFFF00, 139px 1116px #FFFF00, 113px 635px #FFFF00, 1648px 1391px #FFFF00, 1622px 304px #FFFF00, 578px 1222px #FFFF00, 581px 1330px #FFFF00, 1253px 1974px #FFFF00, 1467px 369px #FFFF00, 1066px 631px #FFFF00, 128px 261px #FFFF00, 313px 289px #FFFF00, 691px 1265px #FFFF00, 1458px 217px #FFFF00, 1624px 331px #FFFF00, 624px 1688px #FFFF00, 129px 167px #FFFF00, 1935px 139px #FFFF00, 156px 368px #FFFF00, 1818px 631px #FFFF00, 1594px 1449px #FFFF00, 963px 857px #FFFF00, 1767px 86px #FFFF00;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1744px 1197px #FFFF00, 1950px 392px #FFFF00, 527px 1258px #FFFF00, 413px 395px #FFFF00, 322px 418px #FFFF00, 974px 1599px #FFFF00, 800px 987px #FFFF00, 1557px 959px #FFFF00, 896px 997px #FFFF00, 1839px 220px #FFFF00, 1734px 1189px #FFFF00, 496px 840px #FFFF00, 973px 1549px #FFFF00, 1554px 990px #FFFF00, 24px 621px #FFFF00, 1960px 1752px #FFFF00, 472px 408px #FFFF00, 774px 920px #FFFF00, 853px 207px #FFFF00, 164px 1159px #FFFF00, 1150px 19px #FFFF00, 1837px 50px #FFFF00, 1472px 445px #FFFF00, 921px 487px #FFFF00, 1170px 1749px #FFFF00, 554px 8px #FFFF00, 538px 1587px #FFFF00, 1046px 1711px #FFFF00, 1962px 485px #FFFF00, 1119px 1155px #FFFF00, 949px 1288px #FFFF00, 1480px 1564px #FFFF00, 107px 693px #FFFF00, 38px 428px #FFFF00, 1337px 1557px #FFFF00, 1309px 1835px #FFFF00, 1313px 1971px #FFFF00, 837px 425px #FFFF00, 1550px 1236px #FFFF00, 1496px 379px #FFFF00, 922px 951px #FFFF00, 1945px 1764px #FFFF00, 937px 1206px #FFFF00, 820px 646px #FFFF00, 1200px 1068px #FFFF00, 51px 857px #FFFF00, 695px 1753px #FFFF00, 415px 1424px #FFFF00, 1391px 1129px #FFFF00, 165px 368px #FFFF00, 401px 1756px #FFFF00, 981px 101px #FFFF00, 409px 846px #FFFF00, 160px 156px #FFFF00, 369px 1559px #FFFF00, 247px 717px #FFFF00, 200px 224px #FFFF00, 1682px 1199px #FFFF00, 230px 1099px #FFFF00, 1529px 1097px #FFFF00, 1456px 1537px #FFFF00, 678px 216px #FFFF00, 1015px 560px #FFFF00, 1832px 90px #FFFF00, 1768px 1445px #FFFF00, 1049px 1899px #FFFF00, 667px 1867px #FFFF00, 46px 591px #FFFF00, 1887px 651px #FFFF00, 1378px 33px #FFFF00, 1660px 26px #FFFF00, 141px 1429px #FFFF00, 678px 1808px #FFFF00, 757px 1051px #FFFF00, 1135px 800px #FFFF00, 233px 587px #FFFF00, 1724px 325px #FFFF00, 820px 294px #FFFF00, 1400px 668px #FFFF00, 772px 596px #FFFF00, 1411px 842px #FFFF00, 580px 1547px #FFFF00, 1470px 1487px #FFFF00, 1664px 1297px #FFFF00, 976px 1871px #FFFF00, 124px 285px #FFFF00, 1011px 1346px #FFFF00, 150px 298px #FFFF00, 344px 1956px #FFFF00, 197px 1036px #FFFF00, 240px 708px #FFFF00, 1035px 848px #FFFF00, 195px 1800px #FFFF00, 1860px 1703px #FFFF00, 809px 1770px #FFFF00, 1866px 825px #FFFF00, 1013px 750px #FFFF00, 953px 1167px #FFFF00, 515px 456px #FFFF00, 1908px 1086px #FFFF00, 345px 230px #FFFF00, 1988px 842px #FFFF00, 909px 1236px #FFFF00, 1219px 783px #FFFF00, 104px 1524px #FFFF00, 1321px 151px #FFFF00, 216px 890px #FFFF00, 961px 178px #FFFF00, 1745px 275px #FFFF00, 1771px 1013px #FFFF00, 1391px 599px #FFFF00, 282px 1720px #FFFF00, 60px 1096px #FFFF00, 1179px 1259px #FFFF00, 178px 1213px #FFFF00, 346px 719px #FFFF00, 751px 1609px #FFFF00, 301px 591px #FFFF00, 799px 1564px #FFFF00, 142px 377px #FFFF00, 1227px 1667px #FFFF00, 1968px 1590px #FFFF00, 803px 1327px #FFFF00, 1358px 364px #FFFF00, 506px 1896px #FFFF00, 1374px 526px #FFFF00, 1792px 311px #FFFF00, 1672px 453px #FFFF00, 1654px 610px #FFFF00, 593px 1107px #FFFF00, 1713px 850px #FFFF00, 940px 1472px #FFFF00, 987px 1124px #FFFF00, 1630px 1563px #FFFF00, 1050px 1796px #FFFF00, 527px 882px #FFFF00, 209px 1247px #FFFF00, 1112px 189px #FFFF00, 569px 347px #FFFF00, 1288px 466px #FFFF00, 950px 1936px #FFFF00, 1255px 1932px #FFFF00, 972px 1402px #FFFF00, 1274px 1193px #FFFF00, 847px 883px #FFFF00, 649px 1669px #FFFF00, 944px 719px #FFFF00, 848px 1950px #FFFF00, 777px 1400px #FFFF00, 1111px 794px #FFFF00, 1327px 927px #FFFF00, 728px 228px #FFFF00, 73px 888px #FFFF00, 1092px 1444px #FFFF00, 1335px 753px #FFFF00, 546px 1555px #FFFF00, 1011px 467px #FFFF00, 1182px 209px #FFFF00, 151px 716px #FFFF00, 1544px 370px #FFFF00, 1287px 1519px #FFFF00, 435px 1025px #FFFF00, 586px 1906px #FFFF00, 1298px 524px #FFFF00, 436px 932px #FFFF00, 1660px 1699px #FFFF00, 960px 12px #FFFF00, 784px 1407px #FFFF00, 1483px 1668px #FFFF00, 1529px 284px #FFFF00, 980px 901px #FFFF00, 837px 1107px #FFFF00, 2000px 374px #FFFF00, 28px 557px #FFFF00, 45px 420px #FFFF00, 889px 738px #FFFF00, 1504px 1718px #FFFF00, 174px 561px #FFFF00, 1085px 1208px #FFFF00, 1602px 514px #FFFF00, 645px 159px #FFFF00, 957px 10px #FFFF00, 1622px 1036px #FFFF00, 1108px 1888px #FFFF00, 1568px 1923px #FFFF00, 75px 916px #FFFF00, 448px 1520px #FFFF00, 538px 1595px #FFFF00, 1714px 332px #FFFF00, 1321px 99px #FFFF00, 310px 1230px #FFFF00, 18px 331px #FFFF00, 652px 1249px #FFFF00, 206px 1007px #FFFF00, 450px 1226px #FFFF00, 392px 1777px #FFFF00, 27px 1375px #FFFF00, 901px 1005px #FFFF00, 1571px 702px #FFFF00, 1122px 1603px #FFFF00;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1744px 1197px #FFFF00, 1950px 392px #FFFF00, 527px 1258px #FFFF00, 413px 395px #FFFF00, 322px 418px #FFFF00, 974px 1599px #FFFF00, 800px 987px #FFFF00, 1557px 959px #FFFF00, 896px 997px #FFFF00, 1839px 220px #FFFF00, 1734px 1189px #FFFF00, 496px 840px #FFFF00, 973px 1549px #FFFF00, 1554px 990px #FFFF00, 24px 621px #FFFF00, 1960px 1752px #FFFF00, 472px 408px #FFFF00, 774px 920px #FFFF00, 853px 207px #FFFF00, 164px 1159px #FFFF00, 1150px 19px #FFFF00, 1837px 50px #FFFF00, 1472px 445px #FFFF00, 921px 487px #FFFF00, 1170px 1749px #FFFF00, 554px 8px #FFFF00, 538px 1587px #FFFF00, 1046px 1711px #FFFF00, 1962px 485px #FFFF00, 1119px 1155px #FFFF00, 949px 1288px #FFFF00, 1480px 1564px #FFFF00, 107px 693px #FFFF00, 38px 428px #FFFF00, 1337px 1557px #FFFF00, 1309px 1835px #FFFF00, 1313px 1971px #FFFF00, 837px 425px #FFFF00, 1550px 1236px #FFFF00, 1496px 379px #FFFF00, 922px 951px #FFFF00, 1945px 1764px #FFFF00, 937px 1206px #FFFF00, 820px 646px #FFFF00, 1200px 1068px #FFFF00, 51px 857px #FFFF00, 695px 1753px #FFFF00, 415px 1424px #FFFF00, 1391px 1129px #FFFF00, 165px 368px #FFFF00, 401px 1756px #FFFF00, 981px 101px #FFFF00, 409px 846px #FFFF00, 160px 156px #FFFF00, 369px 1559px #FFFF00, 247px 717px #FFFF00, 200px 224px #FFFF00, 1682px 1199px #FFFF00, 230px 1099px #FFFF00, 1529px 1097px #FFFF00, 1456px 1537px #FFFF00, 678px 216px #FFFF00, 1015px 560px #FFFF00, 1832px 90px #FFFF00, 1768px 1445px #FFFF00, 1049px 1899px #FFFF00, 667px 1867px #FFFF00, 46px 591px #FFFF00, 1887px 651px #FFFF00, 1378px 33px #FFFF00, 1660px 26px #FFFF00, 141px 1429px #FFFF00, 678px 1808px #FFFF00, 757px 1051px #FFFF00, 1135px 800px #FFFF00, 233px 587px #FFFF00, 1724px 325px #FFFF00, 820px 294px #FFFF00, 1400px 668px #FFFF00, 772px 596px #FFFF00, 1411px 842px #FFFF00, 580px 1547px #FFFF00, 1470px 1487px #FFFF00, 1664px 1297px #FFFF00, 976px 1871px #FFFF00, 124px 285px #FFFF00, 1011px 1346px #FFFF00, 150px 298px #FFFF00, 344px 1956px #FFFF00, 197px 1036px #FFFF00, 240px 708px #FFFF00, 1035px 848px #FFFF00, 195px 1800px #FFFF00, 1860px 1703px #FFFF00, 809px 1770px #FFFF00, 1866px 825px #FFFF00, 1013px 750px #FFFF00, 953px 1167px #FFFF00, 515px 456px #FFFF00, 1908px 1086px #FFFF00, 345px 230px #FFFF00, 1988px 842px #FFFF00, 909px 1236px #FFFF00, 1219px 783px #FFFF00, 104px 1524px #FFFF00, 1321px 151px #FFFF00, 216px 890px #FFFF00, 961px 178px #FFFF00, 1745px 275px #FFFF00, 1771px 1013px #FFFF00, 1391px 599px #FFFF00, 282px 1720px #FFFF00, 60px 1096px #FFFF00, 1179px 1259px #FFFF00, 178px 1213px #FFFF00, 346px 719px #FFFF00, 751px 1609px #FFFF00, 301px 591px #FFFF00, 799px 1564px #FFFF00, 142px 377px #FFFF00, 1227px 1667px #FFFF00, 1968px 1590px #FFFF00, 803px 1327px #FFFF00, 1358px 364px #FFFF00, 506px 1896px #FFFF00, 1374px 526px #FFFF00, 1792px 311px #FFFF00, 1672px 453px #FFFF00, 1654px 610px #FFFF00, 593px 1107px #FFFF00, 1713px 850px #FFFF00, 940px 1472px #FFFF00, 987px 1124px #FFFF00, 1630px 1563px #FFFF00, 1050px 1796px #FFFF00, 527px 882px #FFFF00, 209px 1247px #FFFF00, 1112px 189px #FFFF00, 569px 347px #FFFF00, 1288px 466px #FFFF00, 950px 1936px #FFFF00, 1255px 1932px #FFFF00, 972px 1402px #FFFF00, 1274px 1193px #FFFF00, 847px 883px #FFFF00, 649px 1669px #FFFF00, 944px 719px #FFFF00, 848px 1950px #FFFF00, 777px 1400px #FFFF00, 1111px 794px #FFFF00, 1327px 927px #FFFF00, 728px 228px #FFFF00, 73px 888px #FFFF00, 1092px 1444px #FFFF00, 1335px 753px #FFFF00, 546px 1555px #FFFF00, 1011px 467px #FFFF00, 1182px 209px #FFFF00, 151px 716px #FFFF00, 1544px 370px #FFFF00, 1287px 1519px #FFFF00, 435px 1025px #FFFF00, 586px 1906px #FFFF00, 1298px 524px #FFFF00, 436px 932px #FFFF00, 1660px 1699px #FFFF00, 960px 12px #FFFF00, 784px 1407px #FFFF00, 1483px 1668px #FFFF00, 1529px 284px #FFFF00, 980px 901px #FFFF00, 837px 1107px #FFFF00, 2000px 374px #FFFF00, 28px 557px #FFFF00, 45px 420px #FFFF00, 889px 738px #FFFF00, 1504px 1718px #FFFF00, 174px 561px #FFFF00, 1085px 1208px #FFFF00, 1602px 514px #FFFF00, 645px 159px #FFFF00, 957px 10px #FFFF00, 1622px 1036px #FFFF00, 1108px 1888px #FFFF00, 1568px 1923px #FFFF00, 75px 916px #FFFF00, 448px 1520px #FFFF00, 538px 1595px #FFFF00, 1714px 332px #FFFF00, 1321px 99px #FFFF00, 310px 1230px #FFFF00, 18px 331px #FFFF00, 652px 1249px #FFFF00, 206px 1007px #FFFF00, 450px 1226px #FFFF00, 392px 1777px #FFFF00, 27px 1375px #FFFF00, 901px 1005px #FFFF00, 1571px 702px #FFFF00, 1122px 1603px #FFFF00;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 470px 564px #FFFF00, 724px 705px #FFFF00, 256px 1222px #FFFF00, 979px 819px #FFFF00, 477px 1222px #FFFF00, 1893px 1724px #FFFF00, 1793px 1955px #FFFF00, 809px 1886px #FFFF00, 984px 1739px #FFFF00, 176px 1279px #FFFF00, 1758px 1749px #FFFF00, 1844px 374px #FFFF00, 565px 518px #FFFF00, 1104px 529px #FFFF00, 1796px 198px #FFFF00, 1918px 595px #FFFF00, 1736px 1972px #FFFF00, 228px 1210px #FFFF00, 656px 1484px #FFFF00, 163px 184px #FFFF00, 548px 239px #FFFF00, 1808px 1725px #FFFF00, 832px 1367px #FFFF00, 228px 768px #FFFF00, 1889px 909px #FFFF00, 893px 654px #FFFF00, 1561px 1938px #FFFF00, 1507px 329px #FFFF00, 1933px 1091px #FFFF00, 660px 600px #FFFF00, 284px 66px #FFFF00, 330px 1741px #FFFF00, 688px 653px #FFFF00, 1490px 114px #FFFF00, 266px 1042px #FFFF00, 425px 1618px #FFFF00, 1668px 175px #FFFF00, 1528px 1943px #FFFF00, 805px 165px #FFFF00, 1395px 528px #FFFF00, 10px 540px #FFFF00, 731px 557px #FFFF00, 55px 336px #FFFF00, 352px 122px #FFFF00, 1576px 1835px #FFFF00, 728px 1105px #FFFF00, 1859px 1340px #FFFF00, 21px 622px #FFFF00, 1894px 1379px #FFFF00, 1207px 1748px #FFFF00, 916px 817px #FFFF00, 1092px 1291px #FFFF00, 1090px 498px #FFFF00, 250px 9px #FFFF00, 1590px 532px #FFFF00, 68px 1813px #FFFF00, 947px 1230px #FFFF00, 1705px 810px #FFFF00, 1022px 152px #FFFF00, 559px 1810px #FFFF00, 1212px 2px #FFFF00, 1652px 489px #FFFF00, 1827px 526px #FFFF00, 1729px 1212px #FFFF00, 1357px 37px #FFFF00, 1559px 161px #FFFF00, 1014px 343px #FFFF00, 183px 966px #FFFF00, 1158px 1198px #FFFF00, 1719px 329px #FFFF00, 1586px 856px #FFFF00, 304px 1069px #FFFF00, 1319px 10px #FFFF00, 874px 1337px #FFFF00, 796px 1438px #FFFF00, 1314px 1598px #FFFF00, 858px 959px #FFFF00, 1943px 1202px #FFFF00, 1247px 548px #FFFF00, 331px 1433px #FFFF00, 1492px 1608px #FFFF00, 916px 1660px #FFFF00, 1459px 345px #FFFF00, 935px 1436px #FFFF00, 913px 1220px #FFFF00, 1938px 899px #FFFF00, 877px 362px #FFFF00, 793px 500px #FFFF00, 918px 1922px #FFFF00, 1448px 1489px #FFFF00, 1862px 1041px #FFFF00, 1306px 197px #FFFF00, 1064px 521px #FFFF00, 46px 740px #FFFF00, 251px 1404px #FFFF00, 1902px 1395px #FFFF00, 492px 1082px #FFFF00, 394px 365px #FFFF00, 77px 1588px #FFFF00, 633px 263px #FFFF00;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 470px 564px #FFFF00, 724px 705px #FFFF00, 256px 1222px #FFFF00, 979px 819px #FFFF00, 477px 1222px #FFFF00, 1893px 1724px #FFFF00, 1793px 1955px #FFFF00, 809px 1886px #FFFF00, 984px 1739px #FFFF00, 176px 1279px #FFFF00, 1758px 1749px #FFFF00, 1844px 374px #FFFF00, 565px 518px #FFFF00, 1104px 529px #FFFF00, 1796px 198px #FFFF00, 1918px 595px #FFFF00, 1736px 1972px #FFFF00, 228px 1210px #FFFF00, 656px 1484px #FFFF00, 163px 184px #FFFF00, 548px 239px #FFFF00, 1808px 1725px #FFFF00, 832px 1367px #FFFF00, 228px 768px #FFFF00, 1889px 909px #FFFF00, 893px 654px #FFFF00, 1561px 1938px #FFFF00, 1507px 329px #FFFF00, 1933px 1091px #FFFF00, 660px 600px #FFFF00, 284px 66px #FFFF00, 330px 1741px #FFFF00, 688px 653px #FFFF00, 1490px 114px #FFFF00, 266px 1042px #FFFF00, 425px 1618px #FFFF00, 1668px 175px #FFFF00, 1528px 1943px #FFFF00, 805px 165px #FFFF00, 1395px 528px #FFFF00, 10px 540px #FFFF00, 731px 557px #FFFF00, 55px 336px #FFFF00, 352px 122px #FFFF00, 1576px 1835px #FFFF00, 728px 1105px #FFFF00, 1859px 1340px #FFFF00, 21px 622px #FFFF00, 1894px 1379px #FFFF00, 1207px 1748px #FFFF00, 916px 817px #FFFF00, 1092px 1291px #FFFF00, 1090px 498px #FFFF00, 250px 9px #FFFF00, 1590px 532px #FFFF00, 68px 1813px #FFFF00, 947px 1230px #FFFF00, 1705px 810px #FFFF00, 1022px 152px #FFFF00, 559px 1810px #FFFF00, 1212px 2px #FFFF00, 1652px 489px #FFFF00, 1827px 526px #FFFF00, 1729px 1212px #FFFF00, 1357px 37px #FFFF00, 1559px 161px #FFFF00, 1014px 343px #FFFF00, 183px 966px #FFFF00, 1158px 1198px #FFFF00, 1719px 329px #FFFF00, 1586px 856px #FFFF00, 304px 1069px #FFFF00, 1319px 10px #FFFF00, 874px 1337px #FFFF00, 796px 1438px #FFFF00, 1314px 1598px #FFFF00, 858px 959px #FFFF00, 1943px 1202px #FFFF00, 1247px 548px #FFFF00, 331px 1433px #FFFF00, 1492px 1608px #FFFF00, 916px 1660px #FFFF00, 1459px 345px #FFFF00, 935px 1436px #FFFF00, 913px 1220px #FFFF00, 1938px 899px #FFFF00, 877px 362px #FFFF00, 793px 500px #FFFF00, 918px 1922px #FFFF00, 1448px 1489px #FFFF00, 1862px 1041px #FFFF00, 1306px 197px #FFFF00, 1064px 521px #FFFF00, 46px 740px #FFFF00, 251px 1404px #FFFF00, 1902px 1395px #FFFF00, 492px 1082px #FFFF00, 394px 365px #FFFF00, 77px 1588px #FFFF00, 633px 263px #FFFF00;
}

@-webkit-keyframes shake-icon {
    0% {
        transform: rotate(0deg);
    } 30% {
        transform: rotate(10deg);
    } 60% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(-10deg);
    }
}

@keyframes shake-icon {
    0% {
        transform: rotate(0deg);
    } 30% {
        transform: rotate(10deg);
    } 60% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(-10deg);
    }
}

@keyframes animStar {
    from {
       /* transform: translate(0px,0px);*/
       transform: translateY(0px)
    } to {
       /* ;

        transform: translateX(-2000px);*/
       /* transform: translate(2000px,-2000px);*/
       transform: translateY(-2000px) translateX(-2000px);

    }
}
body{
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    }

li{
    list-style: none;
}
.box {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 300px auto;
    transform-style: preserve-3d;
    transform: rotateX(13deg);
    animation: move 5s linear infinite;
}

.box:hover {
    transform: rotateX(13deg) scale(0.5);
}


.minbox {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
    transform-style: preserve-3d;
}
.minbox li {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
}
.minbox li:nth-child(1) {
    background: url('./images/imgi1.jpg') no-repeat 0 0;
    transform: translateZ(50px);
    background-size: cover;
}
.minbox li:nth-child(2) {
    background: url('./images/imgi2.jpg') no-repeat 0 0;
    transform: rotateX(180deg) translateZ(50px);
    background-size: cover;
}
.minbox li:nth-child(3) {
    background: url('./images/imgi3.jpg') no-repeat 0 0;
    transform: rotateX(-90deg) translateZ(50px);
    background-size: cover;
}
.minbox li:nth-child(4) {
    background: url('./images/imgi4.jpg') no-repeat 0 0;
    transform: rotateX(90deg) translateZ(50px);
    background-size: cover;
}
.minbox li:nth-child(5) {
    background: url('./images/imgi5.jpg') no-repeat 0 0;
    transform: rotateY(-90deg) translateZ(50px);
    background-size: cover;
}
.minbox li:nth-child(6) {
    background: url('./images/imgi6.jpg') no-repeat 0 0;
    transform: rotateY(90deg) translateZ(50px);
    background-size: cover;
}
.maxbox li:nth-child(1) {
    background: url('./images/img1.jpg') no-repeat 0 0;
    transform: translateZ(50px);
    background-size: 100% 100%;
    transform: translateZ(100px);
}
.maxbox li:nth-child(2) {
    background: url('./images/img2.jpg') no-repeat 0 0;
    transform: rotateX(180deg) translateZ(100px);
    background-size: 100% 100%;
}
.maxbox li:nth-child(3) {
    background: url('./images/img3.jpg') no-repeat 0 0;
    transform: rotateX(-90deg) translateZ(100px);
    background-size: 100% 100%;
}
.maxbox li:nth-child(4) {
    background: url('./images/img4.jpg') no-repeat 0 0;
    transform: rotateX(90deg) translateZ(100px);
    background-size: 100% 100%;
}
.maxbox li:nth-child(5) {
    background: url('./images/img5.jpg') no-repeat 0 0;
    transform: rotateY(-90deg) translateZ(100px);
    background-size: 100% 100%;
}
.maxbox li:nth-child(6) {
    background: url('./images/img6.jpg') no-repeat 0 0;
    transform: rotateY(90deg) translateZ(100px);
    background-size: 100% 100%;
}
.maxbox li:nth-child(4) {
    transform: rotateX(90deg) translateZ(100px);
}
.maxbox li:nth-child(5) {
    transform: rotateY(-90deg) translateZ(100px);
}
.maxbox li:nth-child(6) {
    transform: rotateY(90deg) translateZ(100px);
}
.maxbox {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
}
.maxbox li {
    width: 200px;
    height: 200px;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    transition: all 1s ease;
}
.box:hover ol li:nth-child(1) {
    transform: translateZ(280px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}
.box:hover ol li:nth-child(2) {
    transform: rotateX(180deg) translateZ(250px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}
.box:hover ol li:nth-child(3) {
    transform: rotateX(-90deg) translateZ(250px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}
.box:hover ol li:nth-child(4) {
    transform: rotateX(90deg) translateZ(250px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}
.box:hover ol li:nth-child(5) {
    transform: rotateY(-90deg) translateZ(250px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}
.box:hover ol li:nth-child(6) {
    transform: rotateY(90deg) translateZ(250px);
    width: 400px;
    height: 400px;
    opacity: 0.8;
    left: -100px;
    top: -100px;
}
@keyframes move {
    0% {
        transform: rotateX(13deg) rotateY(0deg);
    }
    25% {
        transform: rotateX(26deg) rotateY(90deg);
    }    
    50% {
        transform: rotateX(50deg) rotateY(180deg);
    }  
    75% {
        transform: rotateX(26deg) rotateY(270deg);
    }            
    100% {
        transform: rotateX(13deg) rotateY(360deg);
    }
}
.neon {
  color: #fff;
  animation: doimau 10s infinite;
  font-weight: 800;
  text-align: center;
text-transform: uppercase;
}
@keyframes doimau{
   /* 0%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
    }
    15%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0f0,
        0 0 80px #0f0,
        0 0 90px #0f0,
        0 0 100px #0f0,
        0 0 150px #0f0;
    }
    30%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #f00,
        0 0 80px #f00,
        0 0 90px #f00,
        0 0 100px #f00,
        0 0 150px #f00;
    }
    45%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #ffc000,
        0 0 80px #ffc000,
        0 0 90px #ffc000,
        0 0 100px #ffc000,
        0 0 150px #ffc000;
    }
    60%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #1300ff,
        0 0 80px #1300ff,
        0 0 90px #1300ff,
        0 0 100px #1300ff,
        0 0 150px #1300ff;
    }
    75%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #ff00e8,
        0 0 80px #ff00e8,
        0 0 90px #ff00e8,
        0 0 100px #ff00e8,
        0 0 150px #ff00e8;
    }
    
    90%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #c400ff,
        0 0 80px #c400ff,
        0 0 90px #c400ff,
        0 0 100px #c400ff,
        0 0 150px #c400ff;
    }
    100%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
    }*/
     0%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #00ffff4d,
        0 0 80px #00ffff4d,
        0 0 90px #00ffff4d,
        0 0 100px #00ffff4d,
        0 0 150px #00ffff4d;
    }
    15%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0f06,
        0 0 80px #0f06,
        0 0 90px #0f06,
        0 0 100px #0f06,
        0 0 150px #0f06;
    }
    30%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #ff000070,
        0 0 80px #ff000070,
        0 0 90px #ff000070,
        0 0 100px #ff000070,
        0 0 150px #ff000070;
    }
    45%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #ffc00078,
        0 0 80px #ffc00078,
        0 0 90px #ffc00078,
        0 0 100px #ffc00078,
        0 0 150px #ffc00078;
    }
    60%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #1300ff,
        0 0 80px #1300ff,
        0 0 90px #1300ff,
        0 0 100px #1300ff,
        0 0 150px #1300ff;
    }
    75%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #1300ff7d,
        0 0 80px #1300ff7d,
        0 0 90px #1300ff7d,
        0 0 100px #1300ff7d,
        0 0 150px #1300ff7d;
    }
    
    90%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #ff00e866,
        0 0 80px #ff00e866,
        0 0 90px #ff00e866,
        0 0 100px #ff00e866,
        0 0 150px #ff00e866;
    }
    100%{
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #00ffff4d,
        0 0 80px #00ffff4d,
        0 0 90px #00ffff4d,
        0 0 100px #00ffff4d,
        0 0 150px #00ffff4d;
    }
}
:root {
  font-size: calc(1vw + 1vh + 1.5vmin);
}